
<div class="container">
<h1 class="welcome">welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers  !!</h1>

<p><h4>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers,<br>
about varioius books!</h4></p>

<div class="btn-group-vertical">
<%= link_to 'Log in', new_user_session_path, class: "btn btn-primary" %>
<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success" %>
</div>